.todo-container {
  padding: 30px;
}

.todo-input-section {
  margin-bottom: 20px;
}

.todo-input {
  padding: 16px;
  font-size: 20px;
  border-radius: 12px;
  border: 1px solid lightgray;
  margin-right: 10px;
  width: 300px;
}

.add-btn {
  background-color: green;
  color: white;
  padding: 12px 32px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.task-text {
  font-size: 24px;
  margin-right: 10px;
}

.task-text.completed {
  text-decoration: line-through;
}

.todo-checkbox {
  transform: scale(1.5);
  margin-right: 16px;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
